pandas is mostly used for computing & analysing tabular data

In [85]:
import pandas as pd
import numpy as np

file extension 

file format - Excel format (xlsx, xlsb), CSV(comma separated values) format, txt format

### Pandas Data Structures

Data structures - containers of mulitple data values in one object

* Series -  basic DS which will have list of elements with the index & it is homogenous

* DataFrame - Series is the building block of data frame, in this we will have index(rows) and headers(columns) &  it is heterogenous

In [114]:
Series_1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])

Series_2 = pd.Series([5,'6',7,8], index = ['a','b','c','d'])

### difference between list & series  data structure

In [79]:
list1 = [1,2,3,4]

In [80]:
list1[0]

1

In [85]:
Series_1['d'], Series_1['c']

(4, 3)

In [81]:
Series_1[0]

1

In [ ]:
### Dataframe

# Multiple Ways to define Dataframe data structure

## 1. using Dictionary

In [98]:
DF1 = pd.DataFrame({'students' : ['Nitu', 'Nisarga'],
                    'value' : [100,120]}, index =  ['student1','student2'])

### 2.  Using Array/ list of lists

In [103]:
import numpy as np

In [125]:
# homogeneous
arr1 = np.array([['Nitu', 100],
                 ['Nisarga',120]])

DF2 = pd.DataFrame(arr1, index = ['cand_1','cand_2'],  columns = ['names','values'])

In [129]:
DF2

          names values
cand_1     Nitu    100
cand_2  Nisarga    120

In [3]:
# import table

df = pd.read_csv('C:/Users/91894/Desktop/DS_Course/dataset/iris/IRIS.csv')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
#output data structure will be dataframe

# last  rows

df.tail(5)

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [6]:
# number of rows & columns 
df.shape

(150, 5)

In [131]:
pd.set_option('display.max_columns', 85)

pd.set_option('display.max_rows', 85)

In [10]:
# DATA ACCESS IN SERIES

Series_1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])

Series_2 = pd.Series([5,'6',7,8], index = ['a','b','c','d'])

In [19]:
# filter the value where index is c

# Index value based filter for singular value
Series_1['c']

# Index value based filter for multiple value
Series_1[['c','d']]

# Positional value based filter for singular value
Series_1[3]

# Positional value based filter for multiple value
Series_1[1:3]

b    2
c    3
dtype: int64

In [22]:
#Defining  DataFrame

DF1 = pd.DataFrame({'students' : ['Nitu', 'Nisarga'],
                    'value' : [100,120]},index =  ['student1','student2'])

#### Methods of filtering the Dataframe
* 1. Filter the values based on index & column names (use .loc method)
* 2. Filter the values based on index & column position (use .iloc method)

In [26]:
DF1

         students  value
student1     Nitu    100
student2  Nisarga    120

In [52]:
## 1. Filter the values based on index & column names

# singular value
DF1.loc['student1', 'value']

## Multiple Value
DF1.loc[['student1','student2'], ['students']]


## Filter Based on Condition

DF1.loc[DF1['students'] == 'Nisarga' , 'students']

student2    Nisarga
Name: students, dtype: object

In [31]:
## 1. Filter the values based on index & column position

# singular value
DF1.iloc[1, 0]

'Nisarga'

In [36]:
## Multiple Value
out = DF1.iloc[[0,1] , 0]

out

student1       Nitu
student2    Nisarga
Name: students, dtype: object

In [41]:
## Multiple Value
out = DF1.iloc[0:2, 0:2]

out

         students  value
student1     Nitu    100
student2  Nisarga    120

In [106]:
Series_1[(Series_1 > 2) & (Series_1 < 4)]

c    3
dtype: int64

In [107]:
Series_1.value_counts()

4    1
3    1
2    1
1    1
dtype: int64

In [42]:
# import table

df = pd.read_csv('C:/Users/91894/Desktop/DS_Course/dataset/iris/IRIS.csv')

In [90]:
## Need to filter the 10 rows of species column

df.iloc[0:10 , 4]

df.loc[0:10 , 'species' ]

df

,sepal_length,sepal_width,petal_length,petal_width,species,Mul_Petal_Width,New_Col,Col2,Col3
0,-999.0,3.5,1.4,0.2,Iris-setosa,0.4,0.10,10,None
1,-999.0,3.0,1.4,0.2,Iris-setosa,0.4,0.10,10,None
2,-999.0,3.2,1.3,0.2,Iris-setosa,0.4,0.10,10,None
3,-999.0,3.1,1.5,0.2,Iris-setosa,0.4,0.10,10,None
4,-999.0,3.6,1.4,0.2,Iris-setosa,0.4,0.10,10,None
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,4.6,1.15,10,None
146,6.3,2.5,5.0,1.9,Iris-virginica,3.8,0.95,10,None
147,6.5,3.0,5.2,2.0,Iris-virginica,4.0,1.00,10,None
148,6.2,3.4,5.4,2.3,Iris-virginica,4.6,1.15,10,None
149,5.9,3.0,5.1,1.8,Iris-virginica,3.6,0.90,10,None

In [97]:
# Condition Based Filtering 

filter1 = df.loc[(df['species'] == 'Iris-setosa'), ['sepal_length','sepal_width','species']]

In [98]:
filter1.shape

(50, 3)

In [99]:
filter2 = df.loc[((df['species'] == 'Iris-setosa') | (df['petal_width'] == 0.2)), 
                     ['sepal_length','sepal_width','petal_width','species']]

In [100]:
filter2.shape

(50, 4)

In [101]:
filter3 = df.loc[((df['species'] == 'Iris-setosa') & (df['petal_width'] == 0.2)), 
                   ['sepal_length','sepal_width','petal_width','species']]

In [102]:
filter3.shape

(28, 4)

In [69]:
# Value Assignment

df.loc[(df['species'] == 'Iris-setosa'), 'sepal_length'] = -999

In [76]:
#Other Option to subset the column

df[['sepal_length','sepal_width','species']]

# filter the rows 

df[(df['species'] == 'Iris-setosa')]

    sepal_length  sepal_width  petal_length  petal_width      species
0         -999.0          3.5           1.4          0.2  Iris-setosa
1         -999.0          3.0           1.4          0.2  Iris-setosa
2         -999.0          3.2           1.3          0.2  Iris-setosa
3         -999.0          3.1           1.5          0.2  Iris-setosa
4         -999.0          3.6           1.4          0.2  Iris-setosa
5         -999.0          3.9           1.7          0.4  Iris-setosa
6         -999.0          3.4           1.4          0.3  Iris-setosa
7         -999.0          3.4           1.5          0.2  Iris-setosa
8         -999.0          2.9           1.4          0.2  Iris-setosa
9         -999.0          3.1           1.5          0.1  Iris-setosa
10        -999.0          3.7           1.5          0.2  Iris-setosa
11        -999.0          3.4           1.6          0.2  Iris-setosa
12        -999.0          3.0           1.4          0.1  Iris-setosa
13        -999.0          3.0           1.1          0.1  Iris-setosa
14        -999.0          4.0           1.2          0.2  Iris-setosa
15        -999.0          4.4           1.5          0.4  Iris-setosa
16        -999.0          3.9           1.3          0.4  Iris-setosa
17        -999.0          3.5           1.4          0.3  Iris-setosa
18        -999.0          3.8           1.7          0.3  Iris-setosa
19        -999.0          3.8           1.5          0.3  Iris-setosa
20        -999.0          3.4           1.7          0.2  Iris-setosa
21        -999.0          3.7           1.5          0.4  Iris-setosa
22        -999.0          3.6           1.0          0.2  Iris-setosa
23        -999.0          3.3           1.7          0.5  Iris-setosa
24        -999.0          3.4           1.9          0.2  Iris-setosa
25        -999.0          3.0           1.6          0.2  Iris-setosa
26        -999.0          3.4           1.6          0.4  Iris-setosa
27        -999.0          3.5           1.5          0.2  Iris-setosa
28        -999.0          3.4           1.4          0.2  Iris-setosa
29        -999.0          3.2           1.6          0.2  Iris-setosa
30        -999.0          3.1           1.6          0.2  Iris-setosa
31        -999.0          3.4           1.5          0.4  Iris-setosa
32        -999.0          4.1           1.5          0.1  Iris-setosa
33        -999.0          4.2           1.4          0.2  Iris-setosa
34        -999.0          3.1           1.5          0.1  Iris-setosa
35        -999.0          3.2           1.2          0.2  Iris-setosa
36        -999.0          3.5           1.3          0.2  Iris-setosa
37        -999.0          3.1           1.5          0.1  Iris-setosa
38        -999.0          3.0           1.3          0.2  Iris-setosa
39        -999.0          3.4           1.5          0.2  Iris-setosa
40        -999.0          3.5           1.3          0.3  Iris-setosa
41        -999.0          2.3           1.3          0.3  Iris-setosa
42        -999.0          3.2           1.3          0.2  Iris-setosa
43        -999.0          3.5           1.6          0.6  Iris-setosa
44        -999.0          3.8           1.9          0.4  Iris-setosa
45        -999.0          3.0           1.4          0.3  Iris-setosa
46        -999.0          3.8           1.6          0.2  Iris-setosa
47        -999.0          3.2           1.4          0.2  Iris-setosa
48        -999.0          3.7           1.5          0.2  Iris-setosa
49        -999.0          3.3           1.4          0.2  Iris-setosa

In [78]:
# create new column

df['Mul_Petal_Width'] = df['petal_width'] * 2

df.loc[: , 'New_Col'] = df['petal_width'] / 2

df.loc[: ,  'Col2'] = 10

df.loc[:, 'Col3'] = None

In [110]:
df['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64