pandas is mostly used for computing & analysing tabular data

In [3]:
import pandas as pd
import numpy as np

file extension 

file format - Excel format (xlsx, xlsb), CSV(comma separated values) format, txt format

### Pandas Data Structures

Data structures - containers of mulitple data values in one object

* Series -  basic DS which will have list of elements with the index & it is homogenous

* DataFrame - Series is the building block of data frame, in this we will have index(rows) and headers(columns) &  it is heterogenous

In [114]:
Series_1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])

Series_2 = pd.Series([5,'6',7,8], index = ['a','b','c','d'])

### difference between list & series  data structure

In [79]:
list1 = [1,2,3,4]

In [80]:
list1[0]

1

In [85]:
Series_1['d'], Series_1['c']

(4, 3)

In [81]:
Series_1[0]

1

In [ ]:
### Dataframe

# Multiple Ways to define Dataframe data structure

## 1. using Dictionary

In [98]:
DF1 = pd.DataFrame({'students' : ['Nitu', 'Nisarga'],
                    'value' : [100,120]}, index =  ['student1','student2'])

### 2.  Using Array/ list of lists

In [103]:
import numpy as np

In [125]:
# homogeneous
arr1 = np.array([['Nitu', 100],
                 ['Nisarga',120]])

DF2 = pd.DataFrame(arr1, index = ['cand_1','cand_2'],  columns = ['names','values'])

In [129]:
DF2

          names values
cand_1     Nitu    100
cand_2  Nisarga    120

In [3]:
# import table

df = pd.read_csv('C:/Users/91894/Desktop/DS_Course/dataset/iris/IRIS.csv')

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
#output data structure will be dataframe

# last  rows

df.tail(5)

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [6]:
# number of rows & columns 
df.shape

(150, 5)

In [131]:
pd.set_option('display.max_columns', 85)

pd.set_option('display.max_rows', 85)

In [10]:
# DATA ACCESS IN SERIES

Series_1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])

Series_2 = pd.Series([5,'6',7,8], index = ['a','b','c','d'])

In [19]:
# filter the value where index is c

# Index value based filter for singular value
Series_1['c']

# Index value based filter for multiple value
Series_1[['c','d']]

# Positional value based filter for singular value
Series_1[3]

# Positional value based filter for multiple value
Series_1[1:3]

b    2
c    3
dtype: int64

In [22]:
#Defining  DataFrame

DF1 = pd.DataFrame({'students' : ['Nitu', 'Nisarga'],
                    'value' : [100,120]},index =  ['student1','student2'])

#### Methods of filtering the Dataframe
* 1. Filter the values based on index & column names (use .loc method)
* 2. Filter the values based on index & column position (use .iloc method)

In [26]:
DF1

         students  value
student1     Nitu    100
student2  Nisarga    120

In [52]:
## 1. Filter the values based on index & column names

# singular value
DF1.loc['student1', 'value']

## Multiple Value
DF1.loc[['student1','student2'], ['students']]


## Filter Based on Condition

DF1.loc[DF1['students'] == 'Nisarga' , 'students']

student2    Nisarga
Name: students, dtype: object

In [31]:
## 1. Filter the values based on index & column position

# singular value
DF1.iloc[1, 0]

'Nisarga'

In [36]:
## Multiple Value
out = DF1.iloc[[0,1] , 0]

out

student1       Nitu
student2    Nisarga
Name: students, dtype: object

In [41]:
## Multiple Value
out = DF1.iloc[0:2, 0:2]

out

         students  value
student1     Nitu    100
student2  Nisarga    120

In [106]:
Series_1[(Series_1 > 2) & (Series_1 < 4)]

c    3
dtype: int64

In [107]:
Series_1.value_counts()

4    1
3    1
2    1
1    1
dtype: int64

In [4]:
# import table

df = pd.read_csv('C:/Users/91894/Desktop/DS_Course/dataset/iris/IRIS.csv')

In [90]:
## Need to filter the 10 rows of species column

df.iloc[0:10 , 4]

df.loc[0:10 , 'species' ]

df

,sepal_length,sepal_width,petal_length,petal_width,species,Mul_Petal_Width,New_Col,Col2,Col3
0,-999.0,3.5,1.4,0.2,Iris-setosa,0.4,0.10,10,None
1,-999.0,3.0,1.4,0.2,Iris-setosa,0.4,0.10,10,None
2,-999.0,3.2,1.3,0.2,Iris-setosa,0.4,0.10,10,None
3,-999.0,3.1,1.5,0.2,Iris-setosa,0.4,0.10,10,None
4,-999.0,3.6,1.4,0.2,Iris-setosa,0.4,0.10,10,None
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,4.6,1.15,10,None
146,6.3,2.5,5.0,1.9,Iris-virginica,3.8,0.95,10,None
147,6.5,3.0,5.2,2.0,Iris-virginica,4.0,1.00,10,None
148,6.2,3.4,5.4,2.3,Iris-virginica,4.6,1.15,10,None
149,5.9,3.0,5.1,1.8,Iris-virginica,3.6,0.90,10,None

In [97]:
# Condition Based Filtering 

filter1 = df.loc[(df['species'] == 'Iris-setosa'), ['sepal_length','sepal_width','species']]

In [98]:
filter1.shape

(50, 3)

In [99]:
filter2 = df.loc[((df['species'] == 'Iris-setosa') | (df['petal_width'] == 0.2)), 
                     ['sepal_length','sepal_width','petal_width','species']]

In [100]:
filter2.shape

(50, 4)

In [101]:
filter3 = df.loc[((df['species'] == 'Iris-setosa') & (df['petal_width'] == 0.2)), 
                   ['sepal_length','sepal_width','petal_width','species']]

In [102]:
filter3.shape

(28, 4)

1. Updating Data & column lables
2. Data Manipulation using Vectorisation
3. Iterating  dataframe
  * Using Index
  * Using LOC
  * Using ILOC
  * Using iterrows
  * Using itertuples
  * Apply 
5. Sorting 
6. replace
7. Aggregate

### Update the dataframe

In [8]:
# loc - filter based on  names / iloc -  filter based on position of the values

# if we give singular value then it would broadcast the same value to entire rows
# we can give list but the length of list should be equal to no of rows in the dataframe

df.loc[: , 'sepal_length'] = 10

In [11]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width      species
0            10          3.5           1.4          0.2  Iris-setosa
1            10          3.0           1.4          0.2  Iris-setosa

In [22]:
#Drop the column , axis = 0 ->  row level
df.drop(labels= 'sepal_length', axis = 1)

#drop the rows
df.drop(labels = [0,1,2,3,4,5], axis = 0)

     sepal_length  sepal_width  petal_length  petal_width         species
6              10          3.4           1.4          0.3     Iris-setosa
7              10          3.4           1.5          0.2     Iris-setosa
8              10          2.9           1.4          0.2     Iris-setosa
9              10          3.1           1.5          0.1     Iris-setosa
10             10          3.7           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145            10          3.0           5.2          2.3  Iris-virginica
146            10          2.5           5.0          1.9  Iris-virginica
147            10          3.0           5.2          2.0  Iris-virginica
148            10          3.4           5.4          2.3  Iris-virginica
149            10          3.0           5.1          1.8  Iris-virginica

[144 rows x 5 columns]

In [34]:
# if we bool values inside loc function that will give rows where it is true
# index method will give index of the dataframe

iris_setosa_index = df.loc[(df['species'] == 'Iris-setosa')].index

In [37]:
## stored it in  the new object
dropped_df = df.drop(labels = iris_setosa_index, axis = 0)

In [42]:
# Inplace - Inplace = True ->  it will saves this changes in the same object 
df.drop(labels = iris_setosa_index, axis = 0, inplace = True)

In [ ]:
# Value Assignment

df.loc[(df['species'] == 'Iris-setosa'), 'sepal_length'] = -999

In [ ]:
#Other Option to subset the column

df[['sepal_length','sepal_width','species']]

In [ ]:
# filter the rows 

df[(df['species'] == 'Iris-setosa')]

In [47]:
# create new column

df['Mul_Petal_Width'] = df['petal_width'] * 2

df.loc[:,'New_Col'] = df['petal_width'] / 2

df.loc[:,'Col2'] = 10

df.loc[:,'Col3'] = None

In [56]:
# rename columns

df.rename(columns = {'Col2' : 'Rename_Col'}, inplace = True)

In [69]:
# replace values
df['species'].replace(['Iris-versicolor','Iris-virginica'], 'New Species', inplace = True)

# replacing the values in all the columns. should be more careful
df.replace(10 , -99, inplace = True)

### Iterating the Dataframe

*Index Based Iteration*

In [74]:
# import table

df = pd.read_csv('C:/Users/91894/Desktop/DS_Course/dataset/iris/IRIS.csv')

In [81]:
result_list = list()

for i in df.index:
    
    result = df['petal_width'][i] * 0.5
    
    result_list.append(result)

In [85]:
df.loc[:,'Method_1'] =  result_list

* Loc basedIteration

In [95]:
#shape method will give num of rows &  num of columns

result_list = list()

for i in range(df.shape[0]):
    
    result = df.loc[i, 'petal_width'] * 0.5
    
    result_list.append(result)

df.loc[:,'Method_2'] = result_list

In [97]:
#shape method will give num of rows &  num of columns

result_list = list()

for i in range(df.shape[0]):
    
    result = df.iloc[i]['petal_width'] * 0.5
    
    result_list.append(result)
    
df.loc[:,'Method_3'] = result_list

In [112]:
# iterrows 
result_list = list()

for row in df.iterrows():
    
    result = row[1]['petal_width'] * 0.5
    
    result_list.append(result)
    
df.loc[:,'Method_4'] = result_list

In [113]:
df.shape

(150, 9)

In [116]:
# len -  gives number of element in the list
len(result_list)

150

In [123]:
# apply method - will apply the function to all the elements in the row and gives the result in series
def width_func(x):
    
    """X is Petal Width
       This function will multiply the given petal width with 0.5"""
    result = x * 0.5
    return result

df.loc[:, 'Method_5'] = df['petal_width'].apply(width_func)

In [122]:
df.loc[:, 'Method_5'] = df.apply(lambda x : x['petal_length'] + x['petal_width'],  axis = 1)

In [126]:
# Sorting - ordering the data

In [127]:
df.sort_values(by = ['species'])

,sepal_length,sepal_width,petal_length,petal_width,species,Method_1,Method_2,Method_3,Method_4,Method_5
0,5.1,3.5,1.4,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
27,5.2,3.5,1.5,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
28,5.2,3.4,1.4,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
29,4.7,3.2,1.6,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
30,4.8,3.1,1.6,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
...,...,...,...,...,...,...,...,...,...,...
119,6.0,2.2,5.0,1.5,Iris-virginica,0.75,0.75,0.75,0.75,0.75
120,6.9,3.2,5.7,2.3,Iris-virginica,1.15,1.15,1.15,1.15,1.15
121,5.6,2.8,4.9,2.0,Iris-virginica,1.00,1.00,1.00,1.00,1.00
111,6.4,2.7,5.3,1.9,Iris-virginica,0.95,0.95,0.95,0.95,0.95
149,5.9,3.0,5.1,1.8,Iris-virginica,0.90,0.90,0.90,0.90,0.90

In [131]:
df.sort_values(by = ['sepal_width', 'petal_width'],  ascending = False)

,sepal_length,sepal_width,petal_length,petal_width,species,Method_1,Method_2,Method_3,Method_4,Method_5
15,5.7,4.4,1.5,0.4,Iris-setosa,0.20,0.20,0.20,0.20,0.20
33,5.5,4.2,1.4,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
32,5.2,4.1,1.5,0.1,Iris-setosa,0.05,0.05,0.05,0.05,0.05
14,5.8,4.0,1.2,0.2,Iris-setosa,0.10,0.10,0.10,0.10,0.10
5,5.4,3.9,1.7,0.4,Iris-setosa,0.20,0.20,0.20,0.20,0.20
...,...,...,...,...,...,...,...,...,...,...
41,4.5,2.3,1.3,0.3,Iris-setosa,0.15,0.15,0.15,0.15,0.15
68,6.2,2.2,4.5,1.5,Iris-versicolor,0.75,0.75,0.75,0.75,0.75
119,6.0,2.2,5.0,1.5,Iris-virginica,0.75,0.75,0.75,0.75,0.75
62,6.0,2.2,4.0,1.0,Iris-versicolor,0.50,0.50,0.50,0.50,0.50
60,5.0,2.0,3.5,1.0,Iris-versicolor,0.50,0.50,0.50,0.50,0.50

In [137]:
sample_df = pd.DataFrame({'a' : [1,2,2,4],
                          'b' : [7,2,4,5],
                          'c' : [9,2,3,5]})

In [140]:
sample_df

   a  b  c
0  1  7  9
1  2  2  2
2  2  4  3
3  4  5  5

In [138]:
sample_df.sort_values(by = 'a', ascending= False)

   a  b  c
3  4  5  5
1  2  2  2
2  2  4  3
0  1  7  9

In [145]:
sample_df.sort_values(by = 'a', axis = 0 , ascending = False)

   a  b  c
3  4  5  5
1  2  2  2
2  2  4  3
0  1  7  9

In [144]:
sample_df.sort_values(by = 2, axis = 1, ascending = False)

   b  c  a
0  7  9  1
1  2  2  2
2  4  3  2
3  5  5  4